---
layout: default.hbs
subject: Sustainability Series
---
<table class="main">
  <tr>
    <td>
      <!-- EMAIL SERIES -->
      <table class="series">
        <tr>
          <td class="series__push">
          </td>
          <td class="series__heading">
            <p class="series__heading--text">{{event.series_title}}</p>
          </td>
          <td class="series__logo">
            <a href="{{event.site_url}}" title="{{event.site_title}}" target="_blank">
              <img alt="{{event.site_title}} - logo" title="{{event.site_title}}" src="{{event.site_logo_url}}" border="0">
            </a>
          </td>
          <td class="series__push">
          </td>
        </tr>
      </table>
      <!--/EMAIL SERIES -->
      <!-- EVENT NAME -->
      <table class="name">
        <tr>
          <td class="name__heading">
            <p class="name__heading--text">
              {{event.event_name}}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{event.series_banner_url}}">
          </td>
        </tr>
      </table>
      <!--/EVENT NAME -->
      <!-- CONTENT -->
      <table class="content">
        {{#each event.event_headliners}}
        <tr>
          <td class="content__headshot">
            <img src="{{headshot_url}}">
          </td>
          <td class="content__headlines">
            <p class="content__headlines--headline">{{headline}}</p>
            <p class="content__headlines--title">{{title}}</p>
          </td>
        </tr>
        {{/each}}
      </table>
      <table class="content">
        <tr>
          <td>
            <div class="content__description">
              {{{event.event_description}}}
            </div>
          </td>
        </tr>
      </table>
      <!--/CONTENT -->
      <!-- INFORMATION -->
      <table class="information">
        <tr>
          <td class="information__details">
            <p class="information__details--datebox">{{{event.event_date}}}</p>
            <p class="information__details--locationbox">{{{event.event_location}}}</p>
          </td>
          <td class="information__rsvp">
            <p class="information__rsvp--text">
              <a class="information__rsvp--textlink" href="{{event.event_url}}">RSVP Now &raquo;</a>
            </p>
          </td>
          <td class="information__push">
          </td>
        </tr>
      </table>
      <!--/INFORMATION -->
      <!-- FOOTER -->
      <table class="footer">
        <tr>
          <td class="footer__information">
            <p class="footer__information--forward">
              <a class="footer__information--forwardlink" href="*|FORWARD|*" target="_blank">Forward to a friend &raquo;</a>
            </p>

            <p class="footer__information--rsvp">RSVP: 
              <a class="footer__information--rsvplink" href="mailto:sustainabilityevents@asu.edu" target="_blank">sustainabilityevents@asu.edu</a>
            </p>
          
            <p class="footer__information--directions">Parking &amp; directions: 
              <a class="footer__information--directionslink" href="http://sustainability.asu.edu/directions">sustainability.asu.edu/directions</a>
            </p>
          
            <p class="footer__information--additional">Information on all events: 
              <a class="footer__information--additionallink" href="http://sustainability.asu.edu/events/upcoming-events.php">sustainability.asu.edu/events</a>
            </p>
          
            <p class="footer__information--presented">The Sustainability Series is presented by ASU's Global Institute of Sustainability.</p>
          </td> 
        </tr>
      </table>
      <!--/FOOTER -->
      <!-- UNSUB -->
      <table clsas="unsub">
        <tr>
          <td align="left">
            <p class="unsub__text">
              <a class="unsub__text--link" href="*|UNSUB|*"><unsubscribe>Unsubscribe</unsubscribe></a> *|EMAIL|* from this list.
            </p>
          </td>
        </tr>
      </table>
      <!--/UNSUB -->
    </td>
  </tr>
</table>